<div class="flex flex-col min-h-screen w-full">
  <%= live_component @socket, GuildshipWeb.NavComponent %>
  <%= live_component @socket, GuildshipWeb.AlertsComponent %>
  <div class="flex-1">
    <%= @inner_content %>
  </div>
</div>
