<main role="main" class="container min-h-screen mx-auto padding-4">
  <%= live_component @socket, GuildshipWeb.AlertsComponent %>
  <%= @inner_content %>
  <footer>
    <%= live_patch "Guildship", to: Routes.live_path(@socket, GuildshipWeb.HomeLive.Index) %>
  </footer>
</main>
