<nav>
  <%= live_patch "Home", to: "/" %>
  <%= live_patch "Account", to: "/me" %>
  <%= live_patch "Settings", to: "/me/settings" %>
</nav>
<p class="alert alert-info"><%= live_flash(@flash, :info) %></p>
<p class="alert alert-danger"><%= live_flash(@flash, :error) %></p>
<%= @live_view_module.render(assigns) %>
