<h1 class="page-title-heading"><%= @thread.title %></h1>
<ul>
  <%= for reply <- @replies do %>
    <li class="light-mode:bg-white bg-gray-800 mb-2 shadow rounded block p-4">
      <div class="container">
        <%= raw reply.body_html %>
      </div>
    </li>
  <% end %>
</ul>
