/* purgecss start ignore */

@tailwind base;

@tailwind components;

/* Phoenix LiveView Overrides */

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}

.guild-nav-link {
  @apply py-2 px-4 rounded;
}

.guild-nav-link:hover,
.guild-nav-link:focus {
  @apply bg-gray-700;
}

@screen light-mode {
  .guild-nav-link:hover,
  .guild-nav-link:focus {
    @apply bg-white;
  }
}

/* tailwind overrides */

/* purgecss end ignore */

@tailwind utilities;
