/* purgecss start ignore */

@tailwind base;

@tailwind components;

/* Phoenix LiveView Overrides */

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}

/* tailwind overrides */

/* purgecss end ignore */

@tailwind utilities;
